body {
    margin: 0;
    padding: 20px;
}

.back-link {
    text-decoration: none;
    color: #282828;
    padding: 10px 16px;
    background-color: #3acf51;
    border-radius: 12px;
}

.form {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 32px;
}

.link-list {
    display: block;
}