*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
}

.back-link {
    text-decoration: none;
    color: #282828;
    padding: 10px 16px;
    background-color: #3acf51;
    border-radius: 12px;
}

.done {
    text-decoration: line-through;
    color: gray;
}